<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="afa0ac">  <td>20/11/15 20:20:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTestSuite.afterEveryTestEnds(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:com.gomechanic.Tests.AddPeriodicServicePlantToCartTest@29ee9faa]">&lt;&lt;afterEveryTestEnds</td> 
<td>&nbsp;</td>  <td>main@395629617</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>20/11/15 20:17:34</td>   <td>-146796</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTestSuite.beforeEveryTestStarts()[pri:0, instance:com.gomechanic.Tests.AddPeriodicServicePlantToCartTest@29ee9faa]">&gt;&gt;beforeEveryTestStarts</td> 
<td>&nbsp;</td>  <td>main@395629617</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>20/11/15 20:17:32</td>   <td>-148548</td> <td title="&gt;&gt;BaseTestSuite.beforeSuite()[pri:0, instance:com.gomechanic.Tests.AddPeriodicServicePlantToCartTest@29ee9faa]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@395629617</td>   <td></td> </tr>
<tr bgcolor="fb9ab6">  <td>20/11/15 20:17:48</td>   <td>-132459</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddPeriodicServicePlantToCartTest.selectBasicServicePlan(java.lang.reflect.Method)[pri:0, instance:com.gomechanic.Tests.AddPeriodicServicePlantToCartTest@29ee9faa]">selectBasicServicePlan</td> 
  <td>main@395629617</td>   <td></td> </tr>
</table>
